/* CSS Document */

#qualifications-img {
	margin: 3em auto 0 auto;
	display: block;
	border: solid 1px #444;
}

#qualifications-header {
	width: 8em;
	margin-left: -5.6em;
}

#qualifications-container {
	margin-top: 0em;
	margin-left:15.1em;
	width: 38em;
}

#qualifications-name {
	margin-top: 1em;
}

.qualification {
	margin-top: 1em;
}